@model conversa

<h2>Excluir Conversa</h2>

<div>
    <div>
        <h4>Tem certeza de que deseja excluir esta conversa ?</h4>
        <H3>@Model.atendente</H3>
        <br />
        <H3>@Model.atendido</H3>

            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="Id"/>
                <button type="submit" class="btn btn-danger">Excluir</button>
                <a asp-action="Index" class=" btn btn-secondary">Cancelar</a>
            </form>
    </div>
</div>